/build/reports/tests/test/css/base-style.css
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.1/javaCompile/classAnalysis.bin
/build/reports/tests/test/packages/com.pucrs.qp.html
/build/reports/tests/test/classes/com.pucrs.qp.TriangulosTeste.html
/.gradle/6.1/executionHistory/executionHistory.bin
/.gradle/6.1/executionHistory/executionHistory.lock
/.gradle/6.1/fileContent/fileContent.lock
/.gradle/6.1/fileHashes/fileHashes.bin
/.gradle/6.1/fileHashes/fileHashes.lock
/.gradle/6.1/gc.properties
/.gradle/vcs-1/gc.properties
/build/reports/tests/test/index.html
/.gradle/6.1/javaCompile/jarAnalysis.bin
/.gradle/6.1/javaCompile/javaCompile.lock
/.gradle/6.1/fileChanges/last-build.bin
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/build/reports/tests/test/js/report.js
/.gradle/6.1/fileHashes/resourceHashesCache.bin
/build/test-results/test/binary/results.bin
/build/reports/tests/test/css/style.css
/.gradle/6.1/javaCompile/taskHistory.bin
/build/test-results/test/TEST-com.pucrs.qp.TriangulosTeste.xml
/out/test/classes/com/pucrs/qp/TipoDeTrianguloTeste.class
/build/classes/java/main/com/pucrs/qp/Triangulos.class
/build/classes/java/test/com/pucrs/qp/TriangulosTeste.class
/out/production/classes/com/pucrs/qp/TipoDeTriangulo.class
