language: java
install: true
os: linux
dist: trusty
jdk: oraclejdk11
before_install:
  - chmod +x gradlew
script:
  - echo "Iniciando build."
  - ./gradlew build -x test
  - echo "Finalizado o build."
after_script:
  - echo "Iniciando testes."
  - ./gradlew test
  - echo "Testes finalizados."
  - echo "Iniciando testes de integração."
  - ./gradlew integrationTest
  - echo "Testes de integração finalizados."